# fly.toml app configuration file generated for church-volunteers-keycloak on 2025-10-09T17:09:46-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'church-volunteers-keycloak'
primary_region = 'ord'

[build]
  dockerfile = 'Dockerfile'

[env]
  KC_HTTP_ENABLED = 'true'
  KC_HTTP_PORT = '8080'
  KC_PROXY = 'edge'

[[services]]
  protocol = 'tcp'
  internal_port = 8080
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

  [[services.http_checks]]
    interval = '10s'
    timeout = '5s'
    grace_period = '1m0s'
    method = 'GET'
    path = '/health/ready'
    protocol = 'http'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
